*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
}
.box{
    border:1px solid black;
    width:300px;
    margin:auto;
    padding:2rem;
}
.heading{
    text-align: center;
    background-color: aquamarine;
    margin:0 0 1rem 0 ;
    padding:.5rem;
}
.num-of-floors,.num-of-lifts{
    display:block;
}
.error-floor{
    display: block;
}
input{
    width:100%;
    padding:.2rem;
    margin-bottom:1rem;
}
button{
    cursor:pointer;
}